.not-found {
  padding: 50px 0;
  text-align: center;

  .page-header .page-title {
    margin: 0;

    font-size: convertPxToEm(90px);
    font-weight: bold;
    line-height: initial;
    letter-spacing: 40px;
    margin-right: -40px;
  }

  .page-content {
    font-weight: 300;
    font-size: convertPxToEm(22px);

    .search-field {
      width: 100%;
      max-width: 400px;
      height: 50px;

      outline: none;
      padding: 0 10px;
    }

    .search-submit {
      display: block;
      height: 50px;

      margin: 25px auto 0 auto;;
    }
  }
}

@media screen and (min-width: 800px) {

  .not-found {
    .page-header .page-title { font-size: convertPxToEm(150px); }
  }

  .not-found .page-content .search-submit {
    display: inline-block;
    margin: 0;
  }
}