.site-footer {
  width: 100%;
  color: white;

  margin-top: 100px;
  padding: 85px 0;
  background-color: #333333;
}

.site-footer__about{
  width: 33%;
  margin: 0 auto;

  text-align: center;
  font-size: 16px;

  
  ._header {
    color: white;
  }

  ._about {
    color: white;
    font-weight: 300;
  }
}

.footer-widget-title {
  font-weight: bold;
  font-size: 25px;
  color: white;
}