.blog-post-pagination { margin-top: 85px; }

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-numbers {
  display: block;
  margin: 0 15px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: #333333;
  color: #f7f7f7;
  
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  line-height: 30px;

  &.current {
    background-color: #a7a7a7;
    cursor: not-allowed;
  }
}