.article-single {
  position: relative;
  width: 100%;
  max-width: 700px;

  margin-top: 85px;

  .entry-title { font-size: 30px; }

  .entry-content {
    margin: 0;

    p,
    h1,
    h2,
    h3 { margin-top: 0; }

    h2,
    h3 {
      font-size: 25px;
      color: $color__primary__fade;
    }

    h3 { font-size: 20px; }

    p {
      line-height: 30px;
      font-size: 18px; 
      font-weight: normal;

      color: $color__text-main;
    }
  }
}