.article-single {
  position: relative;
  width: 100%;
  max-width: 800px;

  margin-top: 85px;

  .entry-title {
    font-size: convertPxToEm(25px);
  }
  
  .thumbnail-container {
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }

  h2,
  h3 {
    font-size: convertPxToEm(25px);
    color: $color__primary__fade;
  }

  h3 { font-size: convertPxToEm(20px); }
  
  p, ul {
    font-size: convertPxToEm(18px);
    font-weight: 300;
    color: #797979;
  }

  .wp-block-image figcaption,
  .wp-caption figcaption {
    text-align: center;
    font-weight: 300;
    font-family: 'Fjalla one', sans-serif;
    font-size: convertPxToEm(13px);
    text-transform: uppercase;
    letter-spacing: 2px;

    color: #676767;
  }
}

@media screen and (min-width: 800px) {
  .article-single {
    .entry-title { font-size: convertPxToEm(30px); }
    
    p, ul {
      font-size: convertPxToEm(20px);
      font-weight: 300;
      color: #797979;
    }
  }
}