.btn-primary,
.comment-form input[type="submit"] {
  display: inline-block;
  padding: 0 60px;
  height: 55px;

  background-color: $color__primary__fade;
  color : white;
  border: none;
  outline: none;

  text-align: center;
  line-height: 55px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: convertPxToEm(18px);

  transition: all .2s;
  cursor: pointer;
  &:hover { background-color: $color__primary; }

}