.btn-primary,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  padding: 0 55px;
  margin-top: 25px;
  height: 55px;

  background-color: $color__primary__fade;
  color : white;

  text-align: center;
  line-height: 55px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;

  transition: all .2s;
  cursor: pointer;
  &:hover { background-color: $color__primary; }

}