.comment-form {
  .comment-notes { display: none; }
  
  p { margin: 0; }

  label {
    display: block;
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
  }

  input {
    width: 100%;
    height: 50px;
  }

  input,
  textarea {
    padding: 0 10px;

    border: 1px solid #d6d6d6;
    outline: none;
  }

  textarea { padding-top: 5px; }
}

.comment-list {
  margin: 0;
  padding: 0;
  &, ul {list-style: none; }

  border-bottom: 1px solid #e3e3e3;


  .comment {
    padding: 30px 0;
    border-top: 1px solid #e3e3e3;
    
    p {
      font-size: 20px;
      color: gray;
      transition: all .2s;
    }
    
    &:hover p { color: #333333; }

    .comment-data {
      display: flex;
    }

    .comment-avatar {
      width: 50px;
      height: 50px;

      margin-right: 25px;

      overflow: hidden;
      border-radius: 50%;

      img {
        display: block;
        width: 100%;
      }
    }

    .comment-metadata {
      font-size: 13px;
      font-weight: 300;
      font-style: italic;
      color: gray;

      .__name {
        padding-right: 10px;

        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        color: $color__primary__fade;
      }
    }
  }
}